	/**      {margin:0; padding:0;}*/


.table_opis{
 border-spacing: 2px;
    border-collapse: separate;
}
.table_opis td{
	padding: 5px;
}

.p_opis{
	padding: 15px;
	
}

.divtop  { 
	position:relative; 
	width:100%;
	height:40px;
	padding-top:10px;
	border-bottom:1px solid blue;
}


   OL { counter-reset: item }
   LI { display: block }
   LI:before { content: counters(item, ".") " "; counter-increment: item }

		img.bg {
			/* Set rules to fill background */
			min-height: 100%;
			min-width: 1024px;
			
			/* Set up proportionate scaling */
			width: 100%;
			height: auto;
			
			/* Set up positioning */
			position: fixed;
			top: 0;
			left: 0;
			z-index:-100;
		}
		
		@media screen and (max-width: 1024px){
			img.bg {
				left: 50%;
				margin-left: -512px; }
		}
body { 
	

	
	font:  arial, sans-serif;
	color:balck;   
	 text-align: center;
	 font-size:18px;
}
	
	
.but_elev_0 {
    background-image: url(../img-m/elevation_0.png);
    background-repeat: no-repeat;
}
.but_elev_1 {
    background-image: url(../img-m/elevation_1.png);
    background-repeat: no-repeat;
}	
.but_waypoint_0 {
    background-image: url(../img-m/waypoint_0.png);
    background-repeat: no-repeat;
}
.but_waypoint_1 {
    background-image: url(../img-m/waypoint_1.png);
    background-repeat: no-repeat;
}	
	
	
	
.div_red_0{
	background: rgba(222, 222, 222, .6);
	font-size: 14px;
	line-height:20px;  
	}	
.div_red_1{
	background: rgba(200, 200, 200, .6);  
	font-size: 14px;
	line-height:20px;
	}	



 .div_left_wide, .div_left, .div_left_min,.div_left_ceo{
	height: 500px; 
}
	
	
#map {
		/*min-width:300px; 		*/
		overflow:hidden; 
		text-align:left;
}			
.div_left_wide{	
	width:600px;
	float:right;
	overflow: auto;
/*overflow-y: hidden;*/
}
.div_left{	
	/*width:180px;*/
	width:400px;
	float:right;
	overflow: auto;
/*overflow-y: hidden;*/
}
.div_left_min{	
	width:120px;
	float:right;
	overflow: auto;
/*overflow-y: hidden;*/
}	
.div_left_ceo{	
	width:100%;
	float:none;
	overflow: auto;
/*overflow-y: hidden;*/
}

.div_polje1{	
			text-align: left;
		 font-size:14px;
}	
.chead  { 
	position:relative; 
	width:100%; 
	/*height:300px;*/
	/*background-image: url("./sony-playstation-wave.png");*/
	/*background-image: url("./css/izdavanje-sony-playstation-novi-sad-tara.jpg");*/

	
}
.cfoot  { 
	position:relative; 
	width:100%;
	margin:20px 0 20px 0;
	padding-top:10px;
	border-top:1px solid blue;
}
.cmain  { 
	position:relative;
	margin-top:30px; 
	width:100%;
}
.cmeni  { 
	position:relative;
	margin: 0px 0 0px 0; 
	padding-bottom:10px;
	width:100%;
	font-size: 18px;
	border-bottom:1px solid blue;
	border-top:1px solid blue;
	padding-top:10px;	
}

.cmeni-map  { 
	position:relative;
	margin: 0px 0 0px; 
	padding-bottom:5px;
	width:100%;
	font-size: 14px;
	border-bottom:1px solid blue;
	//border-top:1px solid blue;
	padding-top:5px;
	min-height:70px;	
	display:none; 

}	
.ctext  { 
	position:relative;
	margin-top:30px; 
	//width:100%;
	max-width:700px;
    margin-left: auto;
    margin-right: auto;
     text-align: left;
     line-height: 140%;
	}
.ctext2  { 
	position:relative;
	margin-top:30px; 
	width:90%;
	/*max-width:700px;*/
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 140%;
}
.cent{
	 margin-left: auto;
   margin-right: auto;
   max-width: 700px;	
}	

.img_zast{
	height:25px;
	width:25px;
	margin-left:5px;
	vertical-align: middle;
}



.img_zast_staze{
	height:25px;
	/*width:25px;*/

}
.img_zast:hover {
 opacity: 0.6;
    filter: alpha(opacity=60); /
}

.img_med{	
	width:100%;
	max-width:656px;
	border-radius: 25px;
	 border:3px solid white;
/* height:369px;*/
}
.img_med2{	
	width:100%;
	max-width:656px;
	border-radius: 25px;
	 border:3px solid white;
 height:250px;
}
.img_small{	
	border-radius: 25px;
	width:200px;
	height:266px;
	margin-top:10px;
}
.img_small2{	
	border-radius: 25px;
	border:3px solid white;
	/*width:300px;
	height:200px;
	*/
		 width:100%;
	max-width:280px;
	
}


.imgdiv2{
	/* border-radius: 25px;*/
	/* border:1px solid white;*/
	 margin:0px 10px 0 10px;
/*
	 width:90%;
	max-width:400px;
	*/
	 /*width:300px;*/
	/* height:200px;*/
	 display:inline-block;
	 /*vertical-align: text-top;*/
}
.dh_center {    
  text-align: center;

}
.dh_left {
  text-align: left;
}
.dh_right {
  text-align: right;
}
.joinclear{
		clear:both;
}

.siv_poz{
//	 	background: rgb(33, 33, 33); 
// background: rgba(33, 33, 33, .6);  
 /*display:inline-block;*/
 padding:5px; 
/* 	border-radius: 25px;*/
	}

.siv_poz_za_wp{
//	 	background: rgb(33, 33, 33); 
 background: rgba(33, 33, 33, .6);  
 color :white;
 /*display:inline-block;*/
 padding:5px; 
/* 	border-radius: 25px;*/
	}
	
	h1{
 	font-size:22px; 	 
 	line-height: 22px;
 //	background: rgb(33, 33, 33); 
 // background: rgba(33, 33, 33, .6);  
 display:inline-block;
 padding:5px; 
 color:blue;
 }
 .h1bott{
	margin-bottom: 10px;
	}
h2{
	font-size:20px;
	line-height: 20px;
 	text-align: center;	
}
/**************************/
@media screen and (min-width: 1024px) {
h1{
 	font-size:42px; 	 
 	line-height: 42px;
 //	background: rgb(33, 33, 33); 
 // background: rgba(33, 33, 33, .6);  
 display:inline-block;
 padding:5px; 
 color:blue;
 margin-top:0px;
 }
.h1bott{
	margin-bottom: 10px;
	}
h2{
	font-size:28px;
	line-height: 32px;
 	text-align: center;	
}
} 
/***********************/

.telbr{
 	font-size:22px; 	 	
}
h1.centh1{
	text-align: center;
	color:blue;
}

h3{
/*font-size:32px;*/
 	/*margin-top:60px;*/
 	text-decoration: underline;
 margin-bottom:10px;

}

.nadmeni{
	 /*	font-size:22px; */
  	 display:inline-block;
  	 border-radius: 15px;
	/*border:1px solid  blue;*/
  /*	margin:0px 3px;*/
	
	padding:5px 40px;
	margin-left:20px;
	cursor: pointer; 
	
}
.nadmeni_1{
	color:black;
	 background-color:#bbbbbb;
}
.nadmeni_0{
	color:blue;
	 background-color:#dddddd;
}




.menidiv{
  	 display:inline-block;
  	 border-radius: 15px;
	border:1px solid  #555555;
  	margin:0px 2px;
	color:blue;
	padding:5px 3px;
	cursor: pointer; 
}



.menidiv_select{
  /*text-decoration: underline;*/
	padding:4px 2px;
		border-width:2px;
		border-color:red; 
}

.menidiv_home{
  	 background-color:green;  	 
	border-color:#434343;  	
	color:white;	
}

.menidiv_wp_0{
  	 display:inline-block;
  	 border-radius: 15px;
	border:1px solid  silver;
	margin:0px 3px;
	color:blue;
	padding:5px;
	cursor: pointer; 
	position:relative;
	/*float:left;*/
}	
.menidiv_wp_1{
  	 display:inline-block;
  	 border-radius: 15px;
	border:1px solid  red;
	margin:0px 3px;
	color:blue;
	padding:5px;
	cursor: pointer; 
}
a.meni {
color:blue;
  text-decoration: none;
}
a.meni:visited  {
 color:blue;
	text-decoration: none;
}
a.meni:hover{
 	color: green;
	text-decoration: none;
}

a {
color:blue;
  text-decoration: none;
 /*
  margin:0px;
  line-height: 50px;

 border-radius: 25px;
	  border:1px solid  white;
	
	padding:10px;
*/	
}
a:visited  {
  color:blue;
	text-decoration: none;
}
a:hover{
 	color: #0064f7;
	text-decoration: none;
}

a.maliimg {
  color: #dddddd;
  text-decoration: italic;
    line-height: 20px;
}
a.maliimg:visited  {
  color: #dddddd;
	text-decoration: none;
}
a.maliimg:hover{
 	color: #999999;
	text-decoration: none;
}


.img_staza_mala{
	height:20px;
	width:20px;
	margin: 0px 5px;
}

.crvena_0{
		stroke-dasharray:10, 7;   
		stroke: #ff0000;
    stroke-width: 3;
    stroke-opacity:0.6;
}
.crvena_1{
		stroke-dasharray:1, 8;   
		stroke: #ff0000;
    stroke-width: 5;
    stroke-opacity:0.7;
}
.crvena_2{
		stroke: #ff0000;
    stroke-width: 3;
    stroke-opacity:0.6;
}
.crvena_3{
		stroke-dasharray:2, 8;   
		stroke: #ff0000;
    stroke-width: 5;
    stroke-opacity:0.6;
}
.crvena_4{
		stroke-dasharray:1, 8;   
		stroke: #ff0066;
    stroke-width: 5;
    stroke-opacity:0.5;
}
.narandzasta_0{
		stroke-dasharray:1, 8;   
		stroke: #ff6600;
    stroke-width: 5;
    stroke-opacity:0.7;
}
.narandzasta_1{
		stroke: #ff6600;
    stroke-width: 3;
    stroke-opacity:0.6;
}
.ljubicasta_0{
		stroke-dasharray:2, 8;   
		stroke: #cc00cc;
    stroke-width: 5;
    stroke-opacity:0.8;
}
.ljubicasta_1{
		stroke-dasharray:1, 8;   
		stroke: #9900ff;
    stroke-width: 5;
    stroke-opacity:0.7;
}
.ljubicasta_2{
		stroke: #9900ff;
    stroke-width: 3;
    stroke-opacity:0.7;
}
.plava_0{
		stroke-dasharray:10, 7;   
		stroke: #0000ff;
    stroke-width: 3;
    stroke-opacity:0.6;
}
.plava_1{
		stroke-dasharray:1, 8;   
		stroke: #0000ff;
    stroke-width: 5;
    stroke-opacity:0.7;
}
.zelena_0{
		stroke-dasharray:10, 7;   
		stroke: #009900;
    stroke-width: 3;
    stroke-opacity:0.6;
}
.zelena_1{
		stroke-dasharray:1, 8;   
		stroke: #009900;
    stroke-width: 5;
    stroke-opacity:0.7;
}
.zelena_2{
		stroke: #00cc00;
    stroke-width: 3;
    stroke-opacity:0.7;
}
.zelena_3{
		stroke-dasharray:10, 7;   
		stroke: #00ff00;
    stroke-width: 3;
    stroke-opacity:0.7;
}
.crna_0{
		stroke-dasharray:10, 7;   
		stroke: #000000;
    stroke-width: 3;
    stroke-opacity:0.6;
}
.crna_1{
		stroke-dasharray:1, 8;   
		stroke: #000000;
    stroke-width: 5;
    stroke-opacity:0.7;
}
.crna_2{
		stroke-dasharray:2, 8;   
		stroke: #000000;
    stroke-width: 5;
    stroke-opacity:0.3;
}
.braon_0{
		stroke-dasharray:10, 7;   
		stroke: #993300;
    stroke-width: 3;
    stroke-opacity:0.7;
}
.zuta_0{
		stroke-dasharray:10, 7;   
		stroke: #ffcc00;
    stroke-width: 3;
    stroke-opacity:0.6;
}	

